@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch:wght@300&family=Dancing+Script&family=Lora:ital,wght@0,400;0,500;1,400;1,700&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,300;1,200;1,300&family=Roboto:wght@300;400;500;700&display=swap');
*{
    font-family: 'Roboto, sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    line-height: 1.5;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: #fcf2e8;
    padding-left: 30rem;
}
.home{
    padding:1rem 3%;
    min-height: 100vh;
}

.heading{
    font-size: 4rem;
    padding-bottom: 1rem;
    color: #111;


}
.heading span{
    color: red;   
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
     background:orange; 
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: #111;
    letter-spacing: 0.5rem;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    width: 27rem;
    text-align: center;
}
.logo{
   color: #fff;
    font-size: 3rem;
    font-weight: bolder;
}

.logo span{
  color:orange; 
}
.navbar a{
display: block;
font-size: 2rem;
color: #fff;
margin: 2rem 0;
}
.navbar a:hover{
    letter-spacing: 1rem;
     color:#d8d85d; 

}
.follow a{
    font-size: 2.5rem;
    color: #fff;
    margin: 0 .7rem;
}
.follow a:hover{
    color:red; 
    
}

#menu-bars{
    position: fixed;
    top: 1rem; right: 1rem;
    z-index: 10000;
    background:red;
    color: #fff;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    font-size: 3rem;
    cursor: pointer;
    display: none ;
}

.cursor-1{
    position: absolute;
    top: 500px; left: 500px;
    height: 1rem; width: 1rem;
    background:#ff0000;
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;

}

.cursor-1.active{
    height: 7rem;
    width: 7rem;
    opacity: .3;
}


.cursor-2{
    position: absolute;
    top: 0; left: 0;
    height: 4rem; width: 4rem;
    border: .1rem solid red;
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    transition: .1s linear;

}
.cursor-2.active{
    display: none;
}
.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.home .image{
    flex: 1 1 40rem;
}

.home .image img{
    border-radius: 2rem;
    width: 100%;
}

.home .content{
    flex: 1 1 40rem;
    
}


.content .hi{
    font-size: 2rem;
    color: #45450b;
    font-size: 30px;
}
 .content h3{
    font-size: 4.5rem;
    color: #111;
   
}
.content h4 span{
   color: #d8d85d;
  
}

 .content .info{
    font-size: 2.5rem;
    color: #111;
    padding: .5rem 0;

}
 .content .text{
    font-size: 1.7rem;
    color: #666;
    padding: .5rem 0;
    
}

.about .row-1{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 2rem;


}


.about .row-1 .image{
    flex:1 1 25rem;
}

.about .row-1 .image img{
   height: 90%;
   width: 85%;
   object-fit: cover;
   border: 1rem solid #fff;
   border-radius: .5rem;
   box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1);
}
.about .row-1 .content{
    flex:1 1 50rem;
}

.about .row-1 .content h3{
    color: #333;
    font-size: 3.5rem;
}

.about .row-1 .content p{
    color: #666;
    font-size: 1.7rem;
    padding: 1rem 0;
}

.about .row-1 .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0.5rem 0;
}
.about .row-1 .content .box-container .box{
    flex: 1 1 20rem;
}

.about .row-1 .content .box-container .box span{
  color: orange;
}
.about .row-2{
     display: flex;
     flex-wrap: wrap;
     gap: 1.5rem;
     align-items: center;

}
.about .row-2 .skills{
    flex: 1 1 40rem;
}
.about .row-2 .skills .progress:hover{
  background: #ebe6e6;
}
.about .row-2 .box-container .box:hover{
  background: #ebe6e6;
}

.about .row-2 .skills .progress{
    padding: 1rem 0;
}
.about .row-2 .skills .progress h3{
   display: flex;
   justify-content: space-between;
   padding: .7rem 0;
   font-size: 1.7rem;
   color: #111;
   font-weight: 400;
  }

  .about .row-2 .skills .progress .bar{
  width: 100%;
  background: #ccc;
  overflow: hidden;
  height: 1rem;
  border-radius: 50;
  }

.about .row-2 .skills .progress .bar span{
    display: block;
    height: 100%;
    background: orange;
    border-radius: 50rem;
}

.about .row-2 .skills .progress:nth-child(1) .bar span{
    width:100% ;
}

.about .row-2 .skills .progress:nth-child(2) .bar span{
    width:100% ;
}

.about .row-2 .skills .progress:nth-child(3) .bar span{
    width:90% ;
}

.about .row-2 .skills .progress:nth-child(4) .bar span{
    width:85% ;
}
.about .row-2 .box-container{
    flex: 1 1 50rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.about .row-2 .box-container .box{
    margin-right: 1rem;
     flex: 1 1 15rem;
     background: #fff;
     padding: 2rem;
     border-radius:  .5rem;
     box-shadow: 0 .5rem 1rem rgba(0,0, 0, 1);
}

.about .row-2 .box-container .box h3{
    color: orange;
    font-size: 3rem;
}
.about .row-2 .box-container .box p{
    color: #666;
    font-size:1.7rem;
    padding-top: .5rem;
}

.service .box-container{
   display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-right: 2rem;
    
}
.service{
    margin-top: 3rem;
}

.service .box-container .box{
    flex:1 1 30rem;
    text-align: center;
    padding: 2rem;
    background: #fff;
    border-radius:  .5rem;
    box-shadow:0 .5rem 1rem rgba(0, 0, 0,.1);
}
.service .box-container .box i{
    height: 6rem;
    width: 6rem;
line-height: 6rem;
font-size: 2.5rem;
color: #fff;
background: red;
border-radius: 50%;
}

.service .box-container .box h3{
    color: #444;
    font-size: 2.2rem;
    padding-top: 1rem;
}
.service .box-container .box p{
    color: #666;
    font-size: 1.7rem;
    padding-top:  .5rem;
}

.experience .box-container{
    display: flex;
    flex-wrap: wrap;
     margin-top: 1rem;
}
.experience{
    margin-top: 3rem;
}
.experience .box-container .box{
    position: relative;
    flex: 1 1 33rem;
    border-left: .2rem solid orange;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.experience .box-container .box .content:hover{
 background: #ebe6e6;

}

.experience .box-container .box::before{
    content: '';
    position: absolute;
    top: 0; left: -1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: orange;

}
.experience .box-container .box .content{
    background: #fff;
    padding: 1.5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1);
    border-radius:  .5rem;
}
.experience .box-container .box .content span{
    color: #fff;
    font-size: 1.7rem;
    background-color: orange;
    border-radius: 50rem;
    padding: .4rem 1rem;

}

.experience .box-container .box .content h3{
    font-size: 2.5rem;
    padding: 1rem 0;
    color: #111;
}

.experience .box-container .box .content p{
    font-size: 1.5rem;
    color: #666;
}

.portfolio{
    margin-top: 4rem;
}
.portfolio .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-right: 2rem;

}
.portfolio .box-container .box{
    flex: 1 1 30rem;
    height: 25rem;
    position: relative;
    overflow: hidden;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1);
    background: #fff; 
    border-radius: .5rem;
}

.portfolio .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
    position: relative;
    z-index: 1;
}
.portfolio .box-container .box:hover img{
    height: 80%;
    width: 80%;
}
.portfolio .box-container .box h3{
    position: absolute;
    bottom: .5rem; left: 1rem;
    font-size: 2.5rem;
    color: #333;
    
}
.portfolio .box-container .box .icons{
    position: absolute;
    top: 1rem; right: 1rem;
}
.portfolio .box-container .box .icons a{
    display: block;
    height: 4rem;
    width: 4rem;
    border-radius: 5rem;
    background: #eee;
    color: #333;
    font-size: 1.7rem;
    line-height: 4rem;
    text-align: center;
    margin-bottom: 1rem;
}

.portfolio .box-container .box .icons a:hover{
background: orange;
color: #fff;
}
.contact{
    margin-top: 4rem;
}
.contact .icons-container{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    margin-right: 2rem;
}
.contact .icons-container .icons:hover{
    background: #ebe6e6;
}

.contact .icons-container .icons{
    flex: 1 1 25rem;
    text-align: center;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1);
    border-radius: .5rem;
}

.contact .icons-container .icons i{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: red;
    color: #fff;
    border-radius: 50%;
}
.contact .icons-container .icons h3{
    color: #111;
    font-size: 2rem;
    padding: 1rem 0;
}
.contact .icons-container .icons p{
    color: #666;
    font-size: 1.7rem;
}  

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-right: 2rem;
}
.contact .row form{
    flex: 1 1 55rem;
    background: #fff;
    padding: 0rem 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1); 
    border-radius: .5rem;
}

.contact .row .map{
    flex: 1 1 25rem;
    border: 1rem solid #fff;
    border-radius: .5rem;
    width: 100%;

}

.contact .row form .box,
.contact .row form textarea{
    width: 100%;
    border-bottom:  .1rem solid #333;
    color: #333;
    text-transform: none;
    font-size: 1.7rem;
    padding: 1rem 0;
    margin: 1rem 0;
}
.contact .row form .box:focus,
.contact .row form textarea:focus{
    border-color: orange;
}

.contact .row form .box::placeholder,
.contact .row form textarea::placeholder{
    text-transform: capitalize;
}
.contact .row form textarea{
    height: 20rem;
    resize: none;
}

.contact .row form .btn{
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.footer{
    margin-top: 2rem;
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    color: #666;


}
.footer span{
    color: orange;
}




@media (max-width:991px){
html{
    font-size: 55%;
}

body{
    padding: 0;
}

#menu-bars{
    display:initial ;
}
header{
    left: -120%;
}
header.active{
    left: 0%;
}
.cursor-1,
.cursor-2{
    display: none;
}
}


@media (max-width:450px){

        html{
            font-size: 50%;

        }
        header{
            width: 100%;
        }
        .experience {
            padding-right: 0;
       margin-left: 20px;
        margin-right: 20px;
        }
        .about{
           margin-left: 20px;
        margin-right: 20px;  
        }
        .service{
           margin-left: 20px;
        margin-right: 20px;     
        }
        .heading{
            font-size: 30px;
        }
      
}